<div class="windowOutsideStyle" id="index-window-outside">
	<div class="heading">Построение обобщенной онтологии</div>
	<div class="windowInsideStyle" id="index-window-inside">
		<h5>Список онтологий курсов/дисциплин:</h5>
		<input type="text" class="textField">
		<div class="list" id="index-list">
			<% @ontologies.each do |ontology| %>
				<div class="listElement" id="<%= ontology.ontology_id %>"><%= ontology.ontology_name %></div>
			<% end %>	
		</div>
	</div>
</div>

<div id="actionMenu">
    <a data-method="delete" rel="nofollow" ><div class="actionMenuOption">Удалить</div></a>
</div>

<%= javascript_include_tag "index/index-click-handler" %>
<%= javascript_include_tag "index/textfield-handler" %>